---
layout: page
title: Stu MacDonald's CV
tags: [cv]
modified: 2014-08-08T20:53:07.573882-04:00
share: false
image:
  feature: sample-image-2.jpg
  credit: WeGraphics
  creditlink: http://wegraphics.net/downloads/free-ultimate-blurred-background-pack/
---

<a markdown="0" href="{{ site.url }}/public/CVStuartMacDonaldWeb.pdf" class="btn">Stu MacDonald's CV</a>

<article class="resume">
<section>
<h2>Experience</h2>
<ul type="none">
{% for position in page.resume.positions.values %}
<li>
<h3 margin-bottom=".2rem">{{ position.company.name }} - {{ position.title }}</h3>
<h4>{{ position.startDate }} - {{ position.endDate }}</h4>

{% assign tmp = position.summary | newline_to_br | split: '<br />' %}
<ul>
{% for t in tmp %}
<li>{{t}}</li>
{% endfor %}
</ul>


</li>
{% endfor %}
</ul>
</section>
 
<section>
<h2>Education</h2>
<ul>
{% for education in page.resume.educations.values %}
<h3>{{ education.degree }}, {{ education.fieldOfStudy }} ({{ education.schoolName }})</h3>
<h4>{{ education.startDate.year }} - {{ education.endDate.year }}</h4>
{% assign tmp = education.notes | newline_to_br | split: '<br />' %}
<ul>
{% for t in tmp %}
<li>{{t}}</li>
{% endfor %}
</ul>
{% endfor %}

</ul>
</section>
</article> 
